* {
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display-show {
    margin-top: 2vh;
    max-width: auto;
    max-height: 0;
    font-size: xx-large;
}

.board {
    background-color: black;
    margin-top: 10vh;
    width: 25%;
    height: 50%;
    display: grid;
    grid-template: repeat(3, minmax(100px, 1fr)) 
                 / repeat(3, minmax(100px, 1fr));
    border: 1px solid black;
    gap: 10px;
}

.square {
    box-sizing: border-box;
}

.board>button {
    appearance: none;
    box-shadow: inset 0px 0px 5px 1px gray;
    background-color: lightgray;
    border: none;
    font-size: large;
}

.startBtn,
.resetBtn {
    font-size: 20px;
    margin-top: 2vh;
    padding: 5px 15px;
    border-radius: 10px;
    appearance: none;
    background-color: lightgray;
    max-height: auto;
}

.startBtn-hidden,
.display-hidden,
.input-hidden {
    visibility: hidden;
    max-height: 0;
    max-width: 0;
}

.input1,
.input2 {
    margin-top: 10px;
    max-width: auto;
    max-width: auto;
    border: 1px black solid;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5x 1px black;
}

