* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    background-color: black;
    margin-top: 10vh;
    width: 25%;
    height: 50%;
    display: grid;
    grid-template: repeat(3, minmax(100px, 1fr)) 
                 / repeat(3, minmax(100px, 1fr));
    border: 1px solid black;
    gap: 10px;
}

.square {
    box-sizing: border-box;
}

.board>button {
    appearance: none;
    box-shadow: inset 0px 0px 5px 1px gray;
    background-color: lightgray;
    border: none;
    font-size: large;
}